<footer>
  <div class="second-footer-top">
    <div class="container">
      <div class="second-footer-contents">
        <div class="second-footer-content">
          <a href="#" class="#">運営会社について</a>
        </div>
        <div class="second-footer-content">
          <a href="#" class="#">お問合わせ</a>
        </div>
        <div class="second-footer-content">
          <a href="#" class="#">店舗掲載のご案内</a>
        </div>
      </div>
      <div class="second-footer-bottom">
        <%= link_to image_tag("Handdrawn Circle Logo.png", class:"second-footer-logo"), "/" %>
      </div>
    </div>
  </div>
</footer>