.messages {
  display: flex;
  justify-content: center;
}

.message {
  display: inline-block;
}

.message-user {
  color: #434a54;
  font-size: 16px;
  display: inline-block;
  margin: 10px 10px;
}

.message-date {
  color: #999;
  font-size: 12px;
  padding-left: 10px;
  display: inline-block;
  margin: 10px 10px;
}

.message-content {
  color: #434a54;
  font-size: 14px;
  margin-bottom: 40px;
  display: inline-block;
  margin: 10px 10px;
}
