.header-top {
  height: 130px;
}

.header-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
}

.header-logo {
  width: 100px;
  margin-top: 20px;
}

.header-right {
  background-color: rgba(255, 255, 255, 0.3);
  line-height: 65px;
  padding: 0 25px;
  color: black;
  display: block;
  font-size: 16px;
}

.user-name {
  margin-right: 50px;
}

.login {
  margin-right: 50px;
}