.header-top {
  height: 100%;
}

.header-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  width: 148px;
  margin-bottom: 3px;
}

.header-right {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 0 25px;
  color: black;
  display: block;
  font-size: 16px;
}

.signed_in {
  background-color: rgba(255, 255, 255, 0.3);
  line-height: 65px;
  padding: 0 25px;
  color: black;
  display: block;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}

.signed_in-button-left {
  margin-right: 50px;
}

.login-registers {
  display: flex;
  justify-content: space-between;
}

.login-register-button-left {
  background-color: #239b76;
  margin-right: 10px;
  margin-top: 20px;
  padding: 8px 70px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}

.login-register-button-right {
  background-color: #239b76;
  margin-right: 10px;
  margin-top: 20px;
  padding: 8px 70px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}

.sns-registers {
  display: flex;
  justify-content: space-between;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
  margin-top: 20px;
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}

.google {
  background-color: #55acee;
  margin-right: 10px;
  margin-top: 20px;
  padding: 8px 34px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}

.fa {
  margin-right: 5px;
}