.top-wrapper {
  background-image: url(first_view.png);
  text-align: center;
  padding: 180px 0 100px 0;
  background-size: cover;
  color: white;
  font-family: arial;
  font-weight: bold;
}

.message-area h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
}

.message-area p {
  opacity: 0.7;
  font-size: 25px;
  letter-spacing: 3px;
  font-weight: normal;
}

.middle-wrapper {
  text-align: center;
  background-color: #f7f7f7;
  height: 580px;
}

.heading h2 {
  padding-top: 80px;
  padding-bottom: 50px;
  letter-spacing: 2px;
  font-size: 20px;
}

.heading h2 {
  color: #5f5d60;
}

.middles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 60px 0;
}

.middle-icon {
  position: relative;
}

.middle-icon p {
  color: #b3aeb5;
}

.middle-logo {
  width: 100px;
  margin-top: 20px;
}

.middle-texts {
  color: #b3aeb5;
  font-size: 13px;
  margin-top: 15px;
  width: 80%;
  display: inline-block;
}

.bottom-wrapper {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #5f5d60;
  background-color: #f7f7f7;
}

.contents-wrapper {
  color: #5f5d60;
  background-color: #f7f7f7;
  height: 580px;
}

.contents-heading {
  padding-top: 80px;
  padding-bottom: 50px;
}

.heading h2 {
  color: #5f5d60;
}

.contents {
  display: flex;
  justify-content: space-around;
}

.content-icon {
  position: relative;
}

.content-logo {
  width: 300px;
  margin-top: 20px;
}

.content-texts {
  color: #b3aeb5;
  font-size: 13px;
  margin-top: 15px;
  width: 80%;
  display: inline-block;
}

.follow_mark {
  color: #239b76;
  margin-top: 5px;
}
