.registration-top-wrapper {
  text-align: center;
}

.second-header-heading {
  line-height: 100px;
  /* font-weight: bold; */
  color: #5f5d60;
  font-size: 100%;
}

.registration-middle-contents {
  text-align: center;
  color: #5f5d60;
}

.name_form {
  width: 30%;
  margin-top: 5px;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}

.registration-middle-content {
  margin-bottom: 30px;
}

.registration_form {
  width: 30%;
  margin-top: 5px;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}

/* .climb_form {
 margin-right: 5px;
} */

.registration-middle-climb_form p {
  display: inline;
  margin-right: 30px;
}

.registration-middle-sex h2 {
  margin-bottom: 10px;
}

.registration-middle-climb_type h2 {
  margin-bottom: 10px;
}

.registration-middle-submit {
  text-align: center;
}

.registration-middle-submit {
  background: #239b76;
  border: 1px solid #239b76;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  /* cursor: pointer; */
  width: 30%;
  margin: 30px 30px;
}