header {
  color: #b3aeb5;
  border-bottom: 1px solid #eee;
  padding-bottom: 30px;
}



.second-header-top {
  height: 130px;
}


.second-header {
  display: flex;
  justify-content: center;
}

.second-header-logo {
  width: 120px;
  margin-top: 20px;
}

.header-right {
  float: right;
  background-color: rgba(255, 255, 255, 0.3);
}
