
.form-text {
  display: block;
}

.UserEdit-top-wrapper {
  text-align: center;
}

.UserEdit-header-heading {
  line-height: 100px;
  /* font-weight: bold; */
  color: #5f5d60;
  font-size: 100%;
}

.img-upload {
  margin-top: 30px;
}

.UserEdit-middle-contents {
  text-align: center;
  color: #5f5d60;
}

.name_form {
  width: 30%;
  margin-top: 5px;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}

.UserEdit-middle-content {
  margin-bottom: 30px;
}

.UserEdit-middle-content h2 {
  margin-top: 16px;
}

.UserEdit_form {
  width: 30%;
  margin-top: 5px;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}

/* .climb_form {
 margin-right: 5px;
} */

.UserEdit-middle-climb_form p {
  display: inline;
  margin-right: 30px;
}

.UserEdit-middle-sex h2 {
  margin-bottom: 10px;
}

.UserEdit-middle-climb_type h2 {
  margin-bottom: 10px;
}

.UserEdit-middle-submit {
  background: #239b76;
  border: 1px solid #239b76;
  color: #fff;
  line-height: 48px;
  font-size: 16px;
  /* cursor: pointer; */
  width: 30%;
  margin: 30px 30px;
  text-align: center;
}

.click-upload p {
  font-size: 13px;
  margin: 16px 16px;
}

.self-introduction_form {
  width: 30%;
  padding: 16px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
}